name: Plugins
"on":
  pull_request:
    branches:
      - "**"
      - "!doc/**"

permissions:
  contents: read

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4.1.0
        with:
          push: false
          file: debian.Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=docker,dest=/tmp/myimage.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: myimage
          path: /tmp/myimage.tar

  test-plugins:
    needs: build-image
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        plugin: ["mysql", "memcached", "ldap", "redis", "mongodb"]
    steps:
      - uses: actions/checkout@v3

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: myimage
          path: /tmp

      - name: Load Docker image
        run: |
          docker load --input /tmp/myimage.tar
          docker image ls -a

      - name: run ${{ matrix.plugin }} tests
        run: |
          cd src/plugins/vsmtp-plugin-${{ matrix.plugin }}/docker/tests/simple && ./test.sh
